html{
  background-color: black;
}

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .nav-bar {
    display: none;
  }
  
  .hamburger {
    display: block;
  }
  
  .hamburger .line1, .hamburger .line2, .hamburger .line3 {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
  }
}
