html{
background-color: black;
text-emphasis-color: white;
}
html, body{
    background-color: black;
    background-image: image-set("download.jpeg")
}
html, p{
    text-align: left;
    color: red;
}